<div id="content">
  <div id="chat-container">
    <div id="chat-title">
        <span id="chat-name">Kravets Aleksandr</span>
        <a id="exit-chat-icon" href="#"><i class="fas fa-reply"></i></a>
    </div>
    <div id="chat-message-list">
        <div class="message-row you-message">
            <div class="message-content">
                <div class="message-text">Ok then</div>
                <div class="message-time">Apr 16</div>
            </div>
        </div>
        <div class="message-row other-message">
            <div class="message-content">
                <div class="user-name">Sasha</div>
                <div class="user-image">
                  <img src="./../../../assets/img1.png" alt="">
                </div>
                <div class="message-text">
                    Lorem ipsum dolor, sit amet consectetur
                     adipisicing elit. Doloribus, iste cumque. Labore sed saepe
                     dolorem, ad atque necessitatibus sint omnis, ea reprehenderit
                      officiis placeat, dolor consequatur? Saepe ex asperiores nam
                       magni, unde sed error aliquam a alias. Repellendus suscipit
                       repellat aliquid praesentium neque nesciunt maiores officiis!
                        Adipisci officiis modi exercitationem?
                </div>
                <div class="message-time">Apr 16</div>
            </div>
        </div>
        <div class="message-row other-message">
          <div class="message-content">
            <div class="user-image">
              <img src="./../../../assets/img1.png" alt="">
            </div>
            <div class="message-text">
                  Lorem ipsum dolor, sit amet consectetur
                   adipisicing elit. Doloribus, iste cumque. Labore sed saepe

              </div>
              <div class="message-time">Apr 16</div>
          </div>
      </div>
        <div class="message-row other-message">
          <div class="message-content">
              <div class="user-image">
                <img src="./../../../assets/img1.png" alt="">
              </div>
               <div class="message-text">
                  Lorem ipsum dolor, sit amet consectetur
                   adipisicing elit. Doloribus, iste cumque. Labore sed saepe
                   dolorem, ad atque necessitatibus sint omnis, ea reprehenderit
                    officiis placeat, dolor consequatur? Saepe ex asperiores nam
                     magni, unde sed error aliquam a alias. Repellendus suscipit
                     repellat aliquid praesentium neque nesciunt maiores officiis!
                      Adipisci officiis modi exercitationem?
              </div>
              <div class="message-time">Apr 16</div>
          </div>
      </div>
      <div class="message-row other-message">
        <div class="message-content">
          <div class="user-image">
            <img src="./../../../assets/img1.png" alt="">
          </div>
            <div class="message-text">
                Lorem ipsum dolor, sit amet consectetur
                 adipisicing elit. Doloribus, iste cumque. Labore sed saepe
                 dolorem, ad atque necessitatibus sint omnis, ea reprehenderit
                  officiis placeat, dolor consequatur? Saepe ex asperiores nam
                   magni, unde sed error aliquam a alias. Repellendus suscipit
                   repellat aliquid praesentium neque nesciunt maiores officiis!
                    Adipisci officiis modi exercitationem?
            </div>
            <div class="message-time">Apr 16</div>
        </div>
    </div>
    <div class="message-row you-message">
      <div class="message-content">
          <div class="message-text">Ok then</div>
          <div class="message-time">Apr 16</div>
      </div>
    </div>
    </div>
    <div id="chat-form">
        <input type="text" placeholder="type a message">
        <button id="btn-send">Send</button>
    </div>
  </div>
</div>
