.form-error {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  color: #ff3e3b;
}

.agree-with-rules {
  padding-left: 10px;
}

.checkbox {
  padding-top: 10px;
}

.btn-register {
  margin-top: 35px;
  margin-bottom: 20px;
}

.login-message {
  text-align: center;
}
