
<style>

</style>
<div class="container page">
    <div class="row content">

        <div class="col-3 sidebar">
            <div class="block-label">
                <div class="label">Chats</div>
            </div>

            <div class="chats">
                <div class="chat-menu-item" *ngFor="let chat of chats">
                    <a [routerLink]="['/chats', chat.id]">
                        {{chat.name}}
                    </a>
                </div>
            </div>

            <div class="add-new-chat-block">
                <button class="create-chat-btn" [routerLink]="['/create-chat']">Create</button>
            </div>
        </div>

        <div class="col-9 chat-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>